// Define variables for your color scheme

// For example:
$red: #3B0002;
$blue: #66ACAE;
$light-blue: #5EB6DD;
$yellow: #E8CC06;
$orange: #FF5900;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Bonjour Bertrand, #66ACAE pour le haut de la page d'accueil (mur de publication), #3B0002 sur les côtés du mur de publication, #E8CC06 dégradé #FF5900 pour la page d'inscription+paramétrage+stories+applications, #5EB6DD pour la page messages
