<p>
  <%= @user.pseudo %>,
  <br>
  <br>
  Bienvenue chez SUNRYSE !
  <br>
  Nous vous confirmons que votre compte a été créé.
  <br>
  N’hésitez pas à nous solliciter si vous avez des questions.
  <br>
  <br>
</p>
