<p>
  <%= @receiver.pseudo %>,
  <br>
  <br>
  <%= link_to @sender.pseudo, profil_url(@sender.slug) %> vient de vous ajouter à sa liste de favoris.
  Rendez-vous sur votre profil pour pouvoir intéragir ensemble.
  <br>
  <br>
</p>
