<p>
  <%= @receiver.pseudo %>,
  <br>
  <br>
  Vous venez de recevoir un message privé de la part de <%= @sender.pseudo %>.
  Rendez-vous sur votre profil pour pouvoir lui répondre.
  <br>
  <br>
</p>
