<p>
  <%= @receiver.pseudo %>,
  <br>
  <br>
  Votre profil a été visité par <%= link_to @sender.pseudo, profil_url(@sender.slug) %>.
  Rendez-vous sur le site de SUNRYSE pour intéragir ensemble.
  <br>
  <br>
</p>
