<div class="bg-gradient">
  <div class="container bg-white py-5">

    <!-- title -->
    <h1 class="text-center">Mes commandes en attente de paiement</h1>

    <!-- wait order -->
    <div class="my-5">
      <% if @waiting_orders.empty? %>
        <p class="text-center"><em>aucune</em></p>
      <% else %>
        <div class="row">
          <% @waiting_orders.each do |order| %>
            <%= render 'shared/order_card', order: order %>
          <% end %>
        </div>
        <%= will_paginate @waiting_orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      <% end %>
    </div>

  </div>
</div>
