<div class="container my-5">
  <h1 class="text-center my-5">Tableau de bord pour l'administrateur</h1>

  <!-- buttons -->
  <div class="d-flex justify-content-around align-items-center pt-5">
    <p><%= link_to 'Les clients', admin_dashboard_profils_path, class: "btn btn-primary" %></p>
    <p><%= link_to 'Les commandes', admin_dashboard_orders_path, class: "btn btn-primary" %></p>
    <p><%= link_to 'Les pages', admin_dashboard_pages_path, class: "btn btn-primary" %></p>
    <p><%= link_to 'Les messages', admin_dashboard_messages_path, class: "btn btn-primary" %></p>
  </div>
</div>
