<div class="bg-gradient">
  <div class="container bg-white py-5">

    <h1 class="text-center">Page en cours de construction...</h1>

  <!--  <iframe src="https://chess.org" width="1024" height="980" frameborder="0" style="width: 100%; border: none; padding: 0; margin:0"><p>Your browser does not support iframes.</p></iframe> -->

<!--   <div id="myBoard" style="width: 400px; height: 400px"></div>
   <label>Status:</label>
   <div id="status"></div>
   <label>FEN:</label>
   <div id="fen"></div>
   <label>PGN:</label>
   <div id="pgn"></div> -->

  </div>
</div>
