<div class="bg-gradient py-5">
  <div class="container py-3 bg-white">

    <h1 class="text-center">Mes jeux</h1>

    <div class="d-flex">

      <div class="list-group w-200px bg-white br-light">
        <% @games.each do |game| %>
          <% (current_user == game.player1) ? (other_speaker = game.player2) : (other_speaker = game.player1) %>
          <%= link_to game_path(game), class: "list-group-item #{'active' if game == @game} d-flex align-items-center" do %>
            # <%= other_speaker.pseudo %>
            <!-- green dot -->
            <% if other_speaker.online? %>
              <div class="messages-green-dot ml-2"></div>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
</div>
