<!-- page blanche permettant de lancer la session Stripe -->
<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-5">
    <!-- gif pour attendre le chargement de Stripe -->
    <%= image_tag "waiting.gif", class: "mt-5" %>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  window.addEventListener('load', () => {
    const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    stripe.redirectToCheckout({
      sessionId: '<%= @order.checkout_session_id %>',
    });
  });
</script>
