.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  padding: 0rem 1rem;
}

.dropdown-item {
  font-size: 1.25rem;
}
